{% load static %}
{% load filters %}

<!DOCTYPE html>
<html>
<head>
	<title>Web  - Flor</title>

<style type="text/css">

*{
	margin: 0px;
	box-sizing: border-box;
}
.container{
	width: 95%;
	display: flex;
	flex-direction: row;
	margin: auto;
}
.form-create-pregunta{
	width: 40%;
	display: flex;
	flex-direction: column;
}
.preguntas-respuestas{
	width: 50%;
}
.form-div{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.btn-submit{
	width: 10em;
}

</style>
</head>
<body>


<div class='container'>

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

<div class='preguntas-respuestas'>


{% for obj in obj_list %}

<p>{{ obj.title }} </p>
<p>{{ obj.content }}</p>


{% if obj.user is None %}
<strong> Anonimo </strong>
{% else %}
<strong> {{ obj.user }}</strong>
{% endif %}




<hr>

{% for respuesta in obj.get_answers %}

<div>
	<p>{{ respuesta.contenido }}</p>

	
	{% if respuesta.user != None %}

	<strong>{{ respuesta.user}}</strong>
	{% else %}
	<strong>Anonimo</strong>
	{% endif %}


<hr>

</div>



{% endfor%}


<form action='.' method='POST'>
{% csrf_token %}

<input type='hidden' value= '{{ obj.id }}' name='id_pregunta_input'/> 
{{ form.as_p }}
<button type='submit'>ENVIAR</button>
</form>
<hr>
{% endfor%}

</div>


<div class='form-create-pregunta'>
<p>Create Question</p>


	<form action='.' method="POST" class="form-div">
		{% csrf_token %}
		{{ form_create.as_p }}
		<button type='submit' class='btn-submit'>Preguntar</button>
	</form>


</div>



</div>



<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>

</body>
</html>